{% extends 'base.html.twig' %}

{% block title %}TipoIdentificacion index{% endblock %}

{% block body %}
    <h1>TipoIdentificacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_identificacion in tipo_identificacions %}
            <tr>
                <td>{{ tipo_identificacion.id }}</td>
                <td>{{ tipo_identificacion.codigo }}</td>
                <td>{{ tipo_identificacion.nombre }}</td>
                <td>
                    <a href="{{ path('tipo_identificacion_show', {'id': tipo_identificacion.id}) }}">show</a>
                    <a href="{{ path('tipo_identificacion_edit', {'id': tipo_identificacion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tipo_identificacion_new') }}">Create new</a>
{% endblock %}
