{% extends 'base.html.twig' %}

{% block title %}Eapb index{% endblock %}

{% block body %}
    <h1>Eapb index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eapb in eapbs %}
            <tr>
                <td>{{ eapb.id }}</td>
                <td>{{ eapb.codigo }}</td>
                <td>{{ eapb.nombre }}</td>
                <td>
                    <a href="{{ path('eapb_show', {'id': eapb.id}) }}">show</a>
                    <a href="{{ path('eapb_edit', {'id': eapb.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('eapb_new') }}">Create new</a>
{% endblock %}
